<div ng-include="'app/views/layout/header.html'"></div>
<div ng-include="'app/views/layout/menu.html'"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Administración de Clientes
        </h1>
        <ol class="breadcrumb">
            <li><a href="#/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Administrar clientes</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Lista de Clientes -->
        <div class="box" ng-hide="editing">
            <div class="box-header with-border">
                <h3 class="box-title">Listado de clientes registrados</h3>
                <a class="btn btn-app" style="float: right;" ng-click="editCustomer(null)">
                    <i class="fa fa-plus-circle"></i> Nuevo
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Empresa</th>
                            <th>Contacto</th>
                            <th>Usuario</th>
                            <th style="width: 200px">Fecha de último acceso</th>
                            <th style="width: 70px">Estado</th>
                            <th style="width: 40px"></th>
                        </tr>
                        <tr ng-repeat="(key, customer) in customers">
                            <td>{{key + 1}}.</td>
                            <td>{{customer.company.name}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.user.login}}</td>
                            <td>{{customer.user.lastAccess}}</td>
                            <td>
                                <span ng-show="customer.user.active === 0" class="badge bg-gray">Inactivo</span>
                                <span ng-show="customer.user.active === 1" class="badge bg-green">Activo</span>
                            </td>
                            <td>
                                <span class="btn btn-success fa fa-edit" ng-click="editCustomer(customer)">&nbsp;Editar</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a>«</a></li>
                    <li><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>»</a></li>
                </ul>
            </div>
        </div>
        <!-- FIN Lista de Clientes -->

        <!-- Formulario de cliente -->
        <div ng-show="editing">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Editar Cliente</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Usuario" ng-model="form.user.login">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" class="form-control" ng-model="form.user.pass">
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Empresa</label>
                        <select class="form-control" ng-model="form.company" ng-options="item.name for item in companies">
                        </select>
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                        <input type="text" class="form-control" placeholder="Contacto" ng-model="form.name">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" class="form-control" placeholder="Teléfono" ng-model="form.tel">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email" ng-model="form.user.email">
                    </div>
                    <br>
                    
                    <div class="input-group">
                        <span class="input-group-addon" style="border-right: 1px solid #d2d6de;width: 40px;"><i class="fa fa-lock"></i></span>
                        <input type="checkbox" style="margin-left: 10px;margin-top: 9px;" ng-true-value="1" ng-false-value="0" ng-model="form.user.active">
                    </div>
                    <br>

                    <button type="button" class="btn btn-info btn-flat" ng-click="saveCustomer(form)">Guardar</button>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- FIN Formulario de cliente -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<div ng-include="'app/views/layout/footer.html'"></div>
<div ng-include="'app/views/layout/control_sidebar.html'"></div>
